{% load static %}
<!doctype html>
<!doctype html>
<html lang="en">
  <head>
   
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  
    <title>welcome to Home</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand font-weight-bold" href="#" style="font-size: larger;">DBlog</a>
    
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav" >
          <li class="nav-item active" >
            <a class="nav-link "  href="{% url 'home'  %}">Home </a>
          </li>
      
            <li class="nav-items ">
                <a class="nav-link text-light" href="{% url 'post_blog'  %}">Post</a>
            </li>
          </ul>
             
            <ul class="navbar-nav ml-auto">
              <form action="" method="post">
                {%  csrf_token %}
                <div class="input-group d-flex ">
    
                    <input type="search" class="form-control  border-0 "  placeholder="Search.." name="search"/>
              
               
                  <div class="input-group-append">
                  <button type="submit" class="btn bg-light">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
                </div>
              </form>
              
                <li class="nav-items ">
                    <a class="nav-link text-light" href="{% url 'profile'  %}">{{request.user|title}}</a>
                </li>
                <li class="nav-items ">
                    <a href="{% url 'logout' %}" class="nav-link text-light">Logout</a>
                </li>
                <li class="nav-items">
                    <a class="nav-link text-light" href="#" >About</a>
                </li>
               
              </ul>
            </div>
          </nav>
    
    <br>
    <br>
      
<br>
<div class="container justify-content-md-center border-dark col-md-4  ">


  <div class="post-container ">
    {% for i in posts %}
     <div class="post ">
      <div class="card border-0 ">

        <a href="{% url 'view_blog' i.title i.author  %}" style="text-decoration: none;color:black">
            <div class="card-item">
            
            <h4><b>{{i.title}}</b></h4>
            {% if i.pic %}
           <img src="{{i.pic.url}}" class="img-fluid" width="100%">
           {% endif %}
           <div class="" style="height: 80px;overflow: hidden;">
            <p>{{i.content}}</p>
        </div>  
        
        <a href="{% url 'user_accounts' i.author %}"><small>{{i.author}}</small></a>
        
          
   
           
            <div style="float: right;color:#808080">

              <small>{{i.time}}</small>
        </div>
            

           
        

        </div>
        </a>


      </div>

     </div>
        


       

        <br>
    
        {% endfor %}

  </div>
        
        

        <script src="https://kit.fontawesome.com/cce32a89d0.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/cce32a89d0.js" crossorigin="anonymous"></script>
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>

