{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> 
    <title>Blog</title>
</head>

<nav class="navbar navbar-expand-sm bg-dark text-capitalize  text-white justify-content-md-center" >
    <ul class="navbar-nav ">
        <li class="nav-items">
            <a class="nav-link text-light" href="#">DBlog</a>
        </li>
      
        <li class="nav-items">
            <a class="nav-link text-light" href="{% url 'home' u %}">home</a>
        </li>
        <li class="nav-items">
            <a class="nav-link text-light" href="">Post</a>
        </li>
      
        <li class="nav-items ">
            <a class="nav-link text-light" href="{% url 'profile' u %}">{{u}}</a>
        </li>
        <li class="nav-items ">
            <a href="{% url 'logout' %}" class="nav-link text-light" >logout</a>
        </li>
        <li class="nav-items">
            <a class="nav-link text-light" href="#">about</a>
        </li>
        
 </ul>
</nav>

<br>
<br>

<body>
   


<div class="container justify-content-md-center border-0 col-sm-5 ">
        {% for i in b %}
        
  
            {% csrf_token %}
            
            <div class="card-item">
                <h1>{{i.title}}</h1>
                
                <div style="background-color:whitesmoke; width: 35%; border-radius: 0px 10px 10px 0px ;margin-left: 1%;">
                <div style="color:#808080">
                    <small>Posted on {{i.time | date}}</small>
                   
                </div>
            </div>
            <br>
               
                {% if i.pic %}
               <img src="{{i.pic.url}}" class="img-fluid" width="100%" >
               {% endif %}
                
                <p>{{i.content}}</p>
                <small>{{i.author}}</small>
                
               
            

            </div>





        

        <br>
        {% endfor %}
     
    </div>


</body>

  



</html>
