nav{
    font-size: 25px;
}

p{
    font-size: 20px;
}
.text {
    overflow: hidden;
    text-overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
 }
 